h1 {
  font-family: 'Baloo Bhaina';
  font-size: 100px;
  margin: 30px;
  display: block;
}

p {
  font-family: 'Open Sans', sans-serif;
  margin-left: 30px;
}

img {
  width: 200px;
  height: 200px;
  float:left;
  border: dotted thin gray;
  margin-left: 10px;
}

#photos {
display: block;
margin: auto;
width: 700px;
padding: 30px;
}

#content {
  display: block;
  clear: both;
}

.fa {
  color: #F18F01;
  margin: 20px;
  font-size: 100px;
}

.chart {
    clear: left;
}
